{
  "extends": ["airbnb", "airbnb-typescript", "plugin:prettier/recommended"],
  "parserOptions": { "project": "./tsconfig.json" },
  "rules": {
    "prettier/prettier": ["error"],
    // react 17 이하 버전에서 문제는 해결했기에 해제
    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-react": "off",
    // props 넘길때 구조분해할당 형식으로 넘기는것이 유지보수 측면에서 불리
    "react/destructuring-assignment": "off",
    // 위와 같음
    "react/prop-types": "off",
    // 함수 선언에서 화살표 함수 사용을 제한하기에 off
    "react/function-component-definition": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-continue": "off",
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelAttributes": ["htmlFor"],
      },
    ],
  },
}
